{% extends 'base.html' %}
{% load static %}

{% block title%}Beranda{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'beranda/style_home.css' %}"> 
{% endblock additional_css %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 pb-4 kritik-saran">
    
          <div class="row">
            <div class="container header-kritik">
              <div class="col text-center">
                <h2 id="judulKritik">Daftar Kritik & Saran</h2>
              </div>
            </div>
          </div>

          {% if not daftar_kritik %}
          <div class="row">
            <div class="container daftar-kosong">
              <div class="col text-center">
                <h5>Belum ada kritik & saran yang masuk</h5>
              </div>
              <div class="container-btn text-center mt-3">
                <a class="btn btn-danger" href="{% url 'beranda:home' %}">Kembali</a>
            </div>
            </div>
          </div>

          {% else %}
          <div class="row">
              <div class="container daftar">
                  <div class="col">
                    <table class="table table-hover table-bordered">
                        <thead class="table-success thead">
                          <tr>
                            <th scope="col">Kritik & Saran dari:</th>
                            <th scope="col">Isi pesan:</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for kritik in daftar_kritik %}
                                <tr>
                                    <td>{{ kritik.nama }}</td>
                                    <td>{{kritik.kritik_saran}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="container-btn text-center mt-3">
                        <a class="btn btn-danger" href="{% url 'beranda:home' %}">Kembali</a>
                    </div>
                    
                  </div>
              </div>
          </div>

          {% endif %}

        </div>
    </div>
</div>
{% endblock content %} 